* {
    margin: 0;
  }

html {
    background-color: rgb(233, 233, 127);
 }
body {
    width: 700px;
}

header {
    background-color: rgb(25, 180, 10);
    font-size: 25px;
}



ul {
     display: inline;
        }

img {
    width: 200px;
    padding: 3px;
    border: 1px solid grey;
    box-shadow: 0px 0px 17px grey;

} 

ul, button {
    float: right;
}
button {
    clear: right;
}
